.benefits {
  @include mq(desktop) {
    padding-bottom: 0px;
  }

  background-color: getBgColor('primary');
}

.benefits__list {
  @include mq(tablet) {
    display: flex;
    gap: $primaryGap;
    flex-wrap: wrap;
  }
}

.benefits__item {
  &:not(:last-child) {
    @include mq(mobile-only) {
      margin-bottom: 30px;
    }
  }
  @include mq(tablet) {
    flex-basis: calc((100% - $primaryGap) / 2);
  }

  @include mq(desktop) {
    flex-basis: calc((100% - $primaryGap * 3) / 4);
  }
}

.benefits__wrapper {
  @include flexBox();
  height: 120px;
  max-width: 450px;
  margin-bottom: 30px;

  background-color: getBgColor('secondary');
  border-radius: 4px;
}

.benefits__title {
  @include textStyle(map-get($colors, 'title'), inherit, calc(16 / 14));
  text-transform: uppercase;

  @include mq(mobile-only) {
    text-align: center;
  }
}

.benefits__text {
  margin-top: 10px;

  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}
