.benefits {
  // padding-bottom: 0px;

  background-color: getBgColor('primary');
}

.benefits__list {
  // @include flexBox();
  // gap: $primaryGap;
}

.benefits__item {
  &:not(:last-child) {
    @media screen and (max-width: ($tablet - 1px)) {
      margin-bottom: 30px;
    }
  }
}

.benefits__wrapper {
  @include flexBox();
  height: 120px;
  max-width: 450px;
  margin-bottom: 30px;

  background-color: getBgColor('secondary');
  border-radius: 4px;
}

.benefits__title {
  @include textStyle(map-get($colors, 'title'), inherit, calc(16 / 14));
  text-transform: uppercase;
  text-align: center;
}

.benefits__text {
  margin-top: 10px;

  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}
