.clients {
  background-color: getBgColor('primary');
}

.clients__title {
  @extend %sectionTitle;
}

.clients__list {
  @include flexBox();
  gap: $primaryGap;
}

.clients__item {
  width: 170px;
  height: 92px;
}

.clients__link {
  @include flexBox();

  width: 100%;
  height: 100%;

  color: $iconColor;
  border: 1px solid $iconColor;
  border-radius: 4px;

  transition: color $animation, border-color $animation;

  &:hover,
  &:focus {
    color: $accentColor;
    border: 1px solid $accentColor;
  }
}

.clients__icon {
  @extend %icon;
}
