.footer {
  // padding-top: 60px;
  // padding-bottom: 60px;
  
  background-color: getBgColor('footer');
}

.footer__wrapper {
  // @include flexBox();
}

.footer__socials {
  // margin-left: 85px;
  // align-self: start;
  // padding-top: 12px;
}

.footer__label {
  // margin-bottom: 20px;

  font-weight: 700;
  @include textStyle(map-get($colors, 'lightText'), inherit, calc(16 / 14));
  text-transform: uppercase;
}

.footer__subscription {
  // margin-left: auto;
  // align-self: start;
  // padding-top: 12px;
}

.footer__input {
  display: inline-flex;
  margin-right: 12px;
  padding-left: 16px;

  width: 358px;
  height: 50px;

  background-color: inherit;
  @include textStyle(map-get($colors, 'translucentText'), $primaryFontSize, calc(20 / 16));

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  &::placeholder {
    @include textStyle(map-get($colors, 'translucentText'), $primaryFontSize, calc(20 / 16));
  }
}
