.header {
  background-color: getBgColor('primary');
  border-bottom: 1px solid $borderColor;
}

.header__container {
  @media screen and (max-width: ($tablet - 1px)) {
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  // @include flexBox();
}

.navigation {
  @media screen and (max-width: ($tablet - 1px)) {
    margin-bottom: 302px;
  }
}

.navigation__list {
  // @include flexBox();
  // gap: 50px;
}

.navigation__item {
  &:not(:last-child) {
    @media screen and (max-width: ($tablet - 1px)) {
      margin-bottom: 32px;
    }
  }
}

.navigation__link {
  display: block;

  @include textStyle(map-get($colors, 'title'), 40px, calc(47 / 40), 0.02em);
  font-weight: 500;

  transition: color $animation;
  &:hover,
  &:focus {
    color: $accentColor;
  }
  // color: map-get($colors, 'title');
  // @extend %headerLink;
}

.navigation__link--current {
  color: $accentColor;

  // position: relative;

  // &::after {
  //   content: '';
  //   position: absolute;
  //   left: 0;
  //   bottom: -1px;

  //   width: 100%;
  //   height: 4px;
  //   background-color: $accentColor;
  //   border-radius: 2px;
  // }
}

.header__contacts {
  @media screen and (max-width: ($tablet - 1px)) {
    margin-bottom: 64px;
  }
  // margin-left: auto;
}

.contacts {
  @media screen and (max-width: ($tablet - 1px)) {
    display: flex;
    flex-direction: column-reverse;
    flex-shrink: 2;
    gap: 32px;
  }

  // @include flexBox();
  // gap: $primaryGap;
}

.contacts__link {
  @media screen and (max-width: ($tablet - 1px)) {
    &--mail {
      color: map-get($colors, 'primaryText');
      font-size: 24px;
      line-height: calc(28 / 24);
    }

    &--tel {
      white-space: nowrap;
      color: $accentColor;
      font-size: 34px;
      line-height: calc(40 / 34);
    }
  }

  font-weight: 500;
  letter-spacing: 0.02em;

  transition: color $animation;
  &:hover,
  &:focus {
    color: $accentColor;
  }
  // display: flex;
  // color: map-get($colors, 'primary');
  // @extend %headerLink;
}

.contacts__icon {
  @media screen and (max-width: ($tablet - 1px)) {
    display: none;
  }
  @extend %icon;
  margin-right: 10px;
}
