.header {
  background-color: getBgColor('primary');
  border-bottom: 1px solid $borderColor;
}

.header__container {
  @include mq(mobile-only) {
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @include mq(tablet) {
    display: flex;
    align-items: center;
  }
}

.mobile-menu {
  @include mq(tablet) {
    @include flexBox();
    flex-grow: 1;
  }
}

.navigation {
  @include mq(mobile-only) {
    margin-bottom: auto;
  }
}

.navigation__list {
  @include mq(tablet) {
    @include flexBox();
    gap: 50px;
  }
}

.navigation__item {
  &:not(:last-child) {
    @include mq(mobile-only) {
      margin-bottom: 32px;
    }
  }
}

.navigation__link {
  display: block;

  @include textStyle(map-get($colors, 'title'), 40px, calc(47 / 40), 0.02em);
  font-weight: 500;

  transition: color $animation;
  &:hover,
  &:focus {
    color: $accentColor;
  }

  @include mq(tablet) {
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: 14px;
    line-height: calc(16 / 14);
  }
}

.navigation__link--current {
  color: $accentColor;

  @include mq(tablet) {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -1px;

      width: 100%;
      height: 4px;
      background-color: $accentColor;
      border-radius: 2px;
    }
  }
}

.header__contacts {
  @include mq(mobile-only) {
    margin-bottom: 64px;
  }

  @include mq(tablet) {
    margin-left: auto;
  }
}

.contacts {
  @include mq(mobile-only) {
    display: flex;
    flex-direction: column-reverse;
    gap: 32px;
  }

  @include mq(desktop) {
    @include flexBox();
    gap: $primaryGap;
  }
}

.contacts__link {
  @include mq(mobile-only) {
    &--mail {
      color: map-get($colors, 'primaryText');
      font-size: 24px;
      line-height: calc(28 / 24);
    }

    &--tel {
      white-space: nowrap;
      color: $accentColor;
      font-size: 34px;
      line-height: calc(40 / 34);

      @media screen and (max-width: 350px) {
        font-size: 9vw;
      }
    }
  }

  font-weight: 500;
  letter-spacing: 0.02em;

  transition: color $animation;
  &:hover,
  &:focus {
    color: $accentColor;
  }

  @include mq(tablet) {
    @include flexBox(flex, start);
    font-size: 12px;
    line-height: calc(14 / 12);
    padding-top: 5px;
    padding-bottom: 5px;
  }

  @include mq(desktop) {
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: 14px;
    line-height: calc(16 / 14);
  }
}

.contacts__icon {
  @include mq(mobile-only) {
    display: none;
  }

  @extend %icon;
  margin-right: 8px;

  @include mq(desktop) {
    margin-right: 10px;
  }
}
