.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;

  min-height: 400px;
  max-width: 480px;

  background-color: getBgColor('hero');
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/mobile-banner.jpg);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/mobile-banner@2x.jpg);
  }

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  text-align: center;

  @media screen and (min-width: $tablet) {
    padding-bottom: 118px;
    min-height: 400px;
    max-width: 768px;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/tablet-banner.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/tablet-banner@2x.jpg);
    }
  }

  @media screen and (min-width: $desktop) {
    padding-top: 200px;
    padding-bottom: 200px;
    min-height: 600px;
    max-width: 1600px;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/banner.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/banner@2x.jpg);
    }
  }
}

.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;

  @include textStyle(map-get($colors, 'lightText'), 26px, calc(42 / 26), 0.06em);
  font-weight: 900;
  text-transform: uppercase;

  // max-width: 696px;

  // @include textStyle(map-get($colors, 'lightText'), 44px, calc(60 / 44), 0.06em);
}
