.project {
  @include mq(tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: $primaryGap;
  }
}

.project__item {
  @include mq(mobile-only) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  max-width: 450px;

  @include mq(tablet) {
    max-width: calc((100% - $primaryGap) / 2);
  }

  @include mq(desktop) {
    max-width: calc((100% - $primaryGap * 2) / 3);
  }
}

.project__link {
  display: flex;
  flex-direction: column;

  height: 100%;
  transition: box-shadow $animation;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.project__wrapper {
  position: relative;
  overflow: hidden;
}

.project__overlay {
  position: absolute;
  left: 0;
  bottom: 0;

  margin-top: 0;
  margin-bottom: 0;
  padding: 63px 24px;

  width: 100%;
  height: 100%;

  background-color: getBgColor('overlay');
  @include textStyle(map-get($colors, 'lightText'), 18px, calc(28 / 18));

  transform: translateY(100%);
  opacity: 0;
  transition: transform $animation, opacity $animation;

  .project__link:hover &,
  .project__link:focus & {
    transform: translateY(0);
    opacity: 1;
  }
}

.project__meta {
  padding: 20px 24px;
  border-left: 1px solid $projectBorder;
  border-right: 1px solid $projectBorder;
  border-bottom: 1px solid $projectBorder;
  flex-grow: 1;
}

.project__title {
  @include textStyle(map-get($colors, 'title'), 18px, calc(36 / 18), 0.06em);
}

.project__type {
  margin-top: 4px;

  @include textStyle(map-get($colors, 'primaryText'), $primaryFontSize, calc(30 / 16));
}
