.staff {
  background-color: getBgColor('secondary');
}

.staff__title {
  @extend %sectionTitle;
}

.staff__list {
  // @include flexBox();
  // gap: $primaryGap;
}

.staff__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: getBgColor('primary');
}

.staff__meta {
  // padding: 30px 10px;
  text-align: center;
}

.staff__name {
  // margin-bottom: 10px;

  @include textStyle(map-get($colors, 'title'), $primaryFontSize, calc(19 / 16));
  font-weight: 500;
}

.staff__position {
  // margin-bottom: 16px;

  font-size: $primaryFontSize;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
}
