.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 101;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition: opacity $animation, visibility $animation;

  &--is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.no-scroll {
  overflow: hidden;
}
