.form__description {
  margin-bottom: 12px;

  @include textStyle(map-get($colors, 'title'), 20px, calc(30 / 20));
  font-weight: 700;
  text-align: center;
  @media screen and (min-width: $desktop) {
    line-height: calc(23 / 20);
  }
}

.form__agreement {
  margin-bottom: 30px;
}

.agreement {
  @include flexBox();
  gap: 7px;
  flex-wrap: wrap;

  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.03em;

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: calc(24 / 14);
  }
}

.agreement__icon {
  @extend %icon;

  border: 2px solid map-get($colors, 'title');
  border-radius: 2px;

  background-color: getBgColor('primary');

  .agreement__checkbox:checked + & {
    background-color: $accentColor;
    border-color: $accentColor;
  }
}

.agreement__text {
  user-select: none;
}

.agreement__link {
  color: $accentColor;
  text-decoration: underline;
}

.form__btn {
  display: block;
  margin: 0 auto;
}
