.logo {
  color: $accentColor;
  font-family: $logoFontFamily, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}

.header__logo {
  margin-right: 93px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.logo__item--dark {
  color: map-get($colors, 'logo');
}

.logo__item--light {
  color: map-get($colors, 'lightText');
}
