.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  min-width: 528px;
  min-height: 581px;
  padding: 40px;

  background-color: getBgColor('primary');
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform $animation;

  .backdrop--is-hidden & {
    transform: translate(-50%, -50%) scale(0.7);
  }
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
}
