$primaryGap: 30px;

$mainFontFamily: 'Roboto';
$logoFontFamily: 'Raleway';
$primaryFontSize: 16px;

$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);

// Color palette
$colors: (
  'title': #212121,
  'primaryText': #757575,
  'lightText': #ffffff,
  'translucentText': rgba(255, 255, 255, 0.6),
  'logo': #000000,
);

$bgColors: (
  'primary': #ffffff,
  'secondary': #f5f4fa,
  'hero': #c4c4c4,
  'services': rgba(47, 48, 58, 0.8),
  'footer': #2f303a,
  'overlay': rgba(33, 150, 243, 0.9),
  'icons': rgba(255, 255, 255, 0.1),
  'hoverBtn': #188ce8,
);

@function getBgColor($key) {
  @return map-get($bgColors, $key);
}

$accentColor: #2196f3;
$iconColor: #afb1b8;
$borderColor: #ececec;
$projectBorder: #eeeeee;
